page-payment {
    .toolbar-background-md {
        border-color: #1a7fc3;
        background: #1a7fc3;
    }
    .toolbar-title-md{
        color: white;

    }
    .bar-button-default-md{
        color: white;

    }
}
